html, body {
    overflow-x: hidden;
    margin: 0;
}

/* NAV */

.navbar {
    display: flex;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: auto 0;
}

.logo {
    padding: 0;
    font-size: 7vh;
    white-space: nowrap;
}

.nav-item {
    padding-left: 20px;
}

/* INFO */

.info {
    background-color: cadetblue;
}

.info-box {
    display: flex;
    background-color: lightgrey;
    width: 50%;
    margin: 0 auto;
}

.image {
    width: 230px;
}

.information {
    margin-left: 30px;
}

@media only screen and (max-width: 600px) {
    .info-box {
        display: block;
        width: 80%;
    }
    .image {
        margin: 0 auto;
    }
    .information {
        margin: 0 auto;
        padding-bottom: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 935px) {
    .info-box {
        width: 60%;
    }
}

@media only screen and (max-width: 770px) {
    .info-box {
        width: 70%;
    }
}

@media only screen and (max-width: 680px) {
    .info-box {
        width: 78%;
    }
}


.software-skills {
    background-color: cadetblue; 
    border-right: 1px dashed white;
    padding-top: 10px;
    color: white;
    border-bottom: 1px solid white;
    padding-left: 0;
}
.other-skills {
    background-color: cadetblue;
    border-right: 1px solid white;
}


span {
    font-family: 'Courier-new', Courier, monospace;    
}

hr {
    margin-bottom: 0;
}

#social {
    text-align: center;
    background-color: cadetblue;
    padding-top: 5px;
    height: 40px;
}

div#social img {
    height: 20px;
}

#summary {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: cadetblue;
}

.icon img {
    display: inline-block;
    -webkit-transition: transform 2s;
    transition: transform 2s;
}

.icon img:hover {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);    
}

#education, #experience, #certifications {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    text-align: center; 
    padding: 20px 0;
}
#activities {
    border-bottom: 1px solid lightgrey;
    text-align: center; 
    padding: 20px 0; 
}
#activities + div > ul {
    padding-right: 40px;
    text-align: justify;
}
#experience + div > div, #education + div > div {
    padding: 20px 0;
}
#skills {
    color: white;
    text-align: center; 
    padding: 30px 0; 
    background-color: cadetblue;
    border-bottom: 1px solid white;
}
#software-title {
    text-align: center;
    color: white;
    background-color: cadetblue;
    padding: 10px 0;
    border-bottom: 1px dashed white;
}
.skills-title {
    text-align: center; 
    color: white;
    padding: 10px 0; 
    background-color: cadetblue; 
    border-bottom: 1px dashed white;
}
.other-skills {
    padding: 0;
    border-bottom: 1px solid white;
    color: white;
}
#certs {
    margin-left: 20px;
    padding: 30px 0 20px 20px;
}

