html, body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Courier-new', Courier, monospace;
    scroll-behavior: smooth; 
}

/* NAV */

.navbar {
    display: flex;
}

.logo {
    white-space: nowrap;
    padding-left: 20px;
}

.nav-item {
    padding-left: 20px;
}
.menu-btn {
    display: none;
}
.navbar-nav {
    display: flex;
    list-style: none;
    margin: auto;
}
.hidden-nav {
    list-style: none;
    text-align: right;
    padding-right: 30px;
    position: absolute;
    z-index: 1000;
    background-color: white;
    right: 5px;
}

.hidden-item {
    padding: 10px 0;
}

@media only screen and (max-width: 925px) {
    .navbar-nav {
        display: none;
    }
    .menu-btn {
        display: inline;
        padding: 20px;
    }
}

@media only screen and (min-width: 926px) {
    .hidden-nav {
        display: none;
    }
}

.hide {
    display: none;
}

/* INFO */

.info {
    background-color: cadetblue;
}

.info-box {
    display: flex;
    background-color: lightgrey;
    width: 50%;
    margin: 0 auto;
}

.image {
    width: 230px;
}

.information {
    margin-left: 30px;
}

@media only screen and (max-width: 620px) {
    .info-box {
        display: block;
        width: 80%;
    }
    .image {
        margin: 0 auto;
    }
    .information {
        margin: 0 auto;
        padding-bottom: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 1050px) {
    .info-box {
        width: 60%;
    }
}

@media only screen and (max-width: 870px) {
    .info-box {
        width: 70%;
    }
}

@media only screen and (max-width: 750px) {
    .info-box {
        width: 78%;
    }
}

@media only screen and (max-width: 670px) {
    .info-box {
        width: 85%;
    }
}

.social {
    text-align: center;
    background-color: cadetblue;
    height: 40px;
}

.icon {
    height: 20px;
    padding-top: 10px;
}

.icon {
    display: inline-block;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.icon:hover {
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);    
}

/* SUMMARY */

.summary {
    text-align: justify;
    padding: 20px 30px;
    background-color: lightgrey;
}

@media only screen and (max-width: 530px) {
    .summary h1 {
        text-align: justify;
        padding: 20px 30px;
        text-align: center;
        background-color: lightgrey;
        font-size: 5vw;
    }
}

/* EXPERIENCE, EDUCATION, CERTIFICATIONS */

#experience, #education, #certifications {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    text-align: center;
}

.exp-container, .edu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.certs-container {
    padding: 10px 0 20px 20px;
}

.title {
    margin: 0 30px;
    padding: 20px 0;
    text-align: right;
}

.description {
    margin-right: 30px;
    text-align: justify;
    padding: 20px 0;
}

@media only screen and (max-width: 720px) {
    .exp-container, .edu-container {
        grid-template-columns: 1fr;
    }
    .title {
        margin-left: 10px;
        padding-bottom: 5px;
        text-align: left;
    }
    .description {
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 5px;
    }
    .certs-container {
        padding-left: 10px;
    }
    .certs-container ul {
        padding-left: 15px;
    }
}

/* SKILLS */

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


#skills {
    color: white;
    text-align: center;
    background-color: cadetblue;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.skills-title {
    text-align: center; 
    color: white;
    padding: 10px 0; 
    margin-top: 0;
    margin-bottom: 0;
    background-color: cadetblue; 
    border-bottom: 1px dashed white;
}

.software-skills, .other-skills {
    background-color: cadetblue; 
    border-right: 1px dashed white;
    color: white;
    border-bottom: 1px solid white;
    padding-left: 0;
}

@media only screen and (max-width: 840px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
    .software-skills, .other-skills { 
        border-right: none;
    }
}

/* ACTIVITIES */

#activities {
    border-bottom: 1px solid lightgrey;
    text-align: center;
}
.activity-list {
    padding-right: 40px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: cadetblue;
}